# Database
DB_URL=jdbc:mysql://localhost:3306/tourist_guide_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
DB_USERNAME=root
DB_PASSWORD=

# JWT
JWT_SECRET=change_this_to_a_random_256bit_secret_in_production
